.ui.vertical.stripe {
  padding: 3em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 2em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.garnetback {
  background-color: #631919;
}

.agarnet {
  color: #b43135 !important;
}

.garnet {
  color: #631919;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.ui.stupid.menu .active.item {
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}

.ui.stupid.menu .item {
    border-bottom-style: none !important;
    border-color: #F4BBBB !important;
    color: #F4BBBB !important;
}


.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


* {
  font-family: 'Airbnb Cereal App Book', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Airbnb Cereal App Medium' !important;
  font-weight:normal;
  font-size:2em
}

.ui .button {
  font-family:'Airbnb Cereal App Medium' !important;
}

@font-face {
font-family: 'Airbnb Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Light';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Light'), url('AirbnbCerealLight.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Medium';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Bold';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Bold'), url('AirbnbCerealBold.woff') format('woff');
}
